.container{
    margin-top: 20px;
    display: grid;
    width: 700px;
    border: 1px #cbc9c9 solid;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
}

.paragraph{
    opacity: 0;
    animation: p 2s forwards;
}

@keyframes p {
    0%{opacity: 0}
    100%{opacity: 1}
}

.container-btn{
    justify-self: left;
    align-self: center;
    padding: 20px;
}

.btn{
    cursor: pointer;
    border: none;
    border-bottom: 1px dashed;
    font-size: 17px;
    background-color: white;

}
