.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  
.card {
    border: 1px solid #312c2c;
    border-radius: 10px;
    width: 350px;
    overflow: hidden;  
 
    &__title {
      font-size: 20px;
    }
  }

.card__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.card__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 
.card__title {
    font-size: 20px;
  }

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
    background-color: #3c41a7;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #ea4646;
    }
    button {
        background-color: #8d96d3;
    }
}